@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Spartan:wght@500&family=Staatliches&display=swap');

/* font-family: 'Righteous', cursive;

font-family: 'Spartan', sans-serif;

font-family: 'Staatliches', cursive; */
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(33, 46, 88);
}
.root-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cacaca;

}


.navbar-container {
    width:100vw;
    display: flex;
    flex-direction : row;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    margin: 2em;
}

.navbar-item {
    border: #2e2e2e solid 2px;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1)
}

.navbar-item:hover {
    background-color: #2e2e2e;
    color: #cacaca;
}

.navbar-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.super-script {
    font-size: 22px;
    font-family: 'Staatliches', cursive;
}

.sub-script {
    font-size: 13px;
    font-family: 'Spartan', cursive;
}
.header-container {
    border: #2e2e2e solid 3px;
    padding: 0.5em;
}

.header-title{
    font-size: 42px;
    color: #2e2e2e;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
}

.header-subtitle{
    font-size: 18px;
    color: #444444;
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
}
.about-container {
    width: 55%;
    margin: 5em 0 0 0;
    /* border: #2e2e2e solid 3px; */
    padding: 0.5em;
}
.about-title {
    padding: 0 0 0.5em 0;
    font-size: 18px;
    font-weight: 800;
    color: #2e2e2e;
    font-family: 'Spartan', sans-serif;
    letter-spacing: 1px;
}

.about-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #444444;
    font-family: 'Spartan', cursive;
    letter-spacing: 1px;
}

.footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10vh;
    border: #2e2e2e solid 3px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Spartan', sans-serif;
}

.footer-subtext {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5em;
    font-family: 'Spartan', sans-serif;
}


@media screen and (max-width: 900px) {
  
    .footer-container {
        width: 100%;
        font-size: 14px !important;
        position: fixed;
        bottom: 0;
        height: 12vh;
        border: #2e2e2e solid 3px;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-text {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Spartan', sans-serif;
    }
    .footer-subtext {
        font-size: 12px;
        font-weight: 500;
        padding: 0.5em;
        font-family: 'Spartan', sans-serif;
    }
}